html
  head
    title Plugins by sidaudhi
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css",rel="stylesheet")
    link(href="public/stylesheets/site.css",rel="stylesheet")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
  body
    div
      nav.white.z-depth-0
        div.container
          div.nav-wrapper
            a.brand-logo.indigo-text
              img(width=40,align="center",src="https://en.gravatar.com/userimage/14725968/a84ba8fcafeafbe5f5c77758bd5658a4.png?size=200").responsive-img.circle
              small  &nbsp;
              small sidaudhi
            ul.right.hide-on-med-and-down
              li
                a(href="#plugins").indigo-text Plugins
              li
                a(href="#projects").indigo-text Projects
              li
                a(href="#").indigo-text Resume
      div#main.container.center-align
        h2 User Experience Design & Application Development
        h5.pink-text using Express, Angular, React, Aurelia
        br
      div#plugins.container.center-align
        h5.left-align Plugins
        div.row
          div.col.s12.m4
            div.card.indigo.center-align
              div.card-content.white-text
                span.card-title
                  small
                    a(href="http://sidaudhi.github.io/angular-circular-timepicker") angular-circular-timepicker
                p AngularJS datetime picker element directive with a circular interface for time.
              div.card-action.indigo.darken-2
                span.white-text.lighten-5 Updated on February 4, 2016
        a.btn-large.waves-effect.waves-light.pink.accent-2(href="http://github.com/sidaudhi")
          i.fa.fa-github.left
          | All Repositories
      br
      div#projects.container
        h5 Projects
        div.row
          div.col.s12.m4
            div.card.indigo
              div.card-image.waves-effect.waves-block.waves-light
                img(src="http://sanman.herokuapp.com/images/intro-bg.jpg").activator
              div.card-content.white-text
                span.card-title.activator
                  i.material-icons.right more_vert
                  span(style="display:block;margin-top:-10px") Sanman
                p
                  a(href="http://sanman.herokuapp.com/") Go to site
              div.card-reveal.white-text.indigo.darken-2
                span.card-title Sanman
                  i.material-icons.right close
                p.left-align A growing network of individuals and professionals offering their services voluntarily to provide support and help to the existing network of palliative care organizations.
      br
      footer.indigo.darken-1.z-depth-1
        div.container
          div.row.center
            div.col.l6.s6.offset-l3.offset-s3
              h5.white-text.text-lighten-2 LET'S SOCIALIZE
              p.grey-text.text-lighten-2
                | I'm very social and I'd love to hear from you! Feel free to send me an email, find me on Google
                | Plus, follow me on Twitter and join me on Facebook.        
              p.grey-text.text-lighten-4
                a(href="#")
                  i.fa-4x.fa.fa-facebook
                a(href="#")
                  i.fa-4x.fa.fa-twitter
                a(href="#")
                  i.fa-4x.fa.fa-linkedin
                a(href="#")
                  i.fa-4x.fa.fa-github
                a(href="#")
                  i.fa-4x.fa.fa-google-plus
      div.copy-right.indigo.darken-2
        div.container.center.white-text
          | sidaudhi.github.io © 2016 - All Rights Reserved
          
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
